<footer class="footer">
    <div class="text-center p-3 footer-content bg-dark text-light" style="background-color: rgba(0, 0, 0, 0.2);">
        Site criado por:
        <a href="https://augustohs.herokuapp.com/">Augusto HS</a>
    </div>
</footer>