<header class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Regina</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/terapia-tradicional">Terapia Tradicional</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/terapia-alternativa" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Terapias Alternativas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/biomagnetismo">Biomagnetismo</a></li>
              <li><a class="dropdown-item" href="/barras">Barras de Access</a></li>
              <li><a class="dropdown-item" href="/multidimensional">Multidimensional</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobremim">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contatos">Contatos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>