<header class="header sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <a class="navbar-brand" href="/" rel="canonical">
        <h2>Regina Miyahira</h2>
        <p>CRP 14/05474-6</p>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/terapia-tradicional">Psicoterapia</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Principais tratamentos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/orientacao-familiar">Orientação Familiar</a></li>
              <li><a class="dropdown-item" href="/terapia-casal">Terapia de Casal</a></li>
              <li><a class="dropdown-item" href="/ansiedade-depressao">Ansiedade e Depressão</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/positiva">Empoderamento Pessoal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobremim">Quem Sou</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contatos">Me Contate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>