<% layout('layouts/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground" id="depressaoHeader">
            <div class="headerMainTitle">
                <h2>Como vou te ajudar no Barras de Access</h2>
            </div>
        </div>
    </header>

    <div class="text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium eius qui porro magnam, ipsam
            fugiat
            facere est reiciendis atque nihil eum autem facilis minus nesciunt ea sequi nobis inventore?
            Omnis eius esse vitae natus magni nobis. Maxime id odit soluta et mollitia eveniet voluptates, ratione
            ducimus
            quidem fuga molestias sit dignissimos error vero nam? Quibusdam consequuntur obcaecati ipsam perferendis.
            Iusto eveniet explicabo ipsa molestias at porro deleniti illo odit maiores assumenda quas accusamus quisquam
            vitae modi earum praesentium quae, repellat, fuga, libero doloremque! Fugiat dolor ullam atque accusamus
            animi.
            Distinctio reiciendis debitis esse, quidem vero magni! Earum cum, placeat facere accusamus aliquid minus.
        </p>
        <p>In
            corporis iure, ipsa quidem sunt fugit. Expedita nemo at facilis ipsum magni, quo ex consectetur.
            Consequuntur adipisci, aliquam assumenda laborum nihil quae quaerat blanditiis exercitationem dignissimos
            iure
            repellat magni, animi perferendis totam dolores molestiae. Officiis nobis sequi totam suscipit, laborum amet
            ab
            corporis explicabo perferendis.</p>
        <p>Eaque suscipit tempore iure delectus distinctio dignissimos impedit obcaecati consequatur quaerat fugiat
            omnis
            nulla ducimus dolor exercitationem, illo quo facere explicabo quia neque nam! Excepturi cum architecto neque
            ratione ea!</p>
        <p>Quo dolorem enim in eaque inventore itaque explicabo optio ipsum expedita fugiat ut blanditiis, tempora iure
            exercitationem provident velit, nulla deleniti recusandae ratione magnam? Rerum aspernatur iure alias quos
            nemo.
            Quod facilis voluptatum sed aliquid, vitae dicta eaque labore quasi similique rem? Aspernatur ratione porro,
            recusandae quo dolorem quam nisi quidem sit? Cum consequuntur, magnam ipsam omnis fugiat in soluta.</p>
        <p></p>
    </div>

    <div class="contatosDiv1">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Agende sua seção de psicoterapia</h3>
                <p>Rua Antonio Maria Coelho, 3024</p>
                <p>Campo Grande - MS</p>
            </div>
            <div class="contatosMapa"></div>
        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="">clinicasentir.ese@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="">WhatsApp da Regina</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="">(67) 99869-8282</a>
            </div>
        </div>
    </div>