<% layout('layouts/boilerplate') %>

    <div class="contatosDiv1">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Agende sua seção de psicoterapia</h3>
                <p>Rua Antonio Maria Coelho, 3024</p>
                <p>Campo Grande - MS</p>
            </div>
            <div class="contatosMapa"></div>
        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="">clinicasentir.ese@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="">WhatsApp da Regina</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="">(67) 99869-8282</a>
            </div>
        </div>
    </div>

    <div class="contatosDiv">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Agende sua seção de terapia alternativa</h3>
                <p>Rua Derh gerfgr, 2343</p>
                <p>Campo Grande - MS</p>
            </div>
            <div class="contatosMapa"></div>
        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="">regina@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="">WhatsApp da Regina</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="">(67) 99869-8282</a>
            </div>
        </div>
    </div>