<% layout('layouts/boilerplate') %>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="alignCenter">
          <div class="headline">
            Psicóloga Terapeuta Regina
          </div>
          <div class="subheadline">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </div>
          <button class="btn btn-danger">Agenda sua seção</button>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel2">
          <div class="leftSide">
          </div>
          <div class="rightSide">
            <h2>Melhore seus relacionamentos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium quaerat facilis pariatur veniam
              necessitatibus illo magni? Aperiam, eius eligendi, odit.</p>
            <p><button class="btn btn-info">Agenda sua seção</button></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel3">
          <h2>Como seria se desfazer de pontos de vista correndo suas barras?</h2>
          <p><button class="btn btn-info">Saiba mais</button></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="quemsou">
    <div class="sobreMimImgDiv">
      <div class="sobreMimImg"></div>
    </div>
    <div class="sobreMimTextDiv">
      <div class="sobreMimTextTitle">
        <h2>Regina Nome Sobrenome</h2>
        <h5>CRP 11/1111-1</h5>
      </div>

      <div class="sobreMimTextDescricao">
        <div class="sobreMimTextItem">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam perferendis doloribus
          delectus quia harum blanditiis cum eligendi fuga ratione, explicabo veritatis molestias consectetur nemo
          magni inventore quae sint voluptates.
        </div>
        <div class="sobreMimTextItem">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Iste dicta quibusdam quam necessitatibus dolores eius. Quibusdam repudiandae dolores nisi temporibus
          impedit nobis, eaque illum accusantium eius laudantium, quasi tempora fugit, explicabo tempore veritatis
          quod accusamus sint ullam tenetur.
        </div>
      </div>
    </div>
  </div>