<% layout('layouts/boilerplate') %>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active carousel-1">
        <div class="carousel-1-content">
          <h1>Regina Miyahira</h1>
          <p>CRP 14/05474-6</p>
          <h3>
            Empoderando você a ser a sua melhor versão
          </h3>
          <button class="btn btn-cta">Agende sua consulta</button>
        </div>
      </div>

      <div class="carousel-item carousel-2">
        <div class="carousel-2-content">
          <div class="carousel-2-content-background">
            <h2>Melhore seus relacionamentos</h2>
            <p>
              Como a terapia pode te ajudar a resolver:
            <ul>
              <li>Brigas, conflitos e discussões</li>
              <li>Falta de intimidade nos relacionamentos</li>
              <li>Orientação familiar</li>
              <li>Como educar filhos</li>
            </ul>
            <div class="carousel-2-btns">
              <button class="btn btn-cta">Saiba mais</button>
              <button class="btn btn-cta">Agende sua consulta</button>
            </div>
          </div>
          </p>
        </div>
      </div>

      <div class="carousel-item carousel-3">
        <div class="carousel-3-content">
          <div class="carousel-3-content-background">
            <h2>Se desintoxe, melhore seu metabolismo e sua imunidade</h2>
            <p>
              A terapia biomagnética ajuda você a viver melhor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="carousel-3-btns">
              <button class="btn btn-cta">Saiba mais</button>
              <button class="btn btn-cta">Agende sua consulta</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- ============ SOBRE MIM ============ -->
  <div class="sobremim">
    <div class="sobremim-foto-div">
      <div class="sobremim-foto"></div>
    </div>
    <div class="sobremim-texto-div">
      <h2>Quem sou</h2>
      <h5>O que pode melhorar?</h5>
      <p>
        Sou psicóloga formada na Uniderp. Tenho experiências em Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Aut debitis deleniti voluptas, architecto sunt molestiae illo id eligendi magni dicta. Rerum vitae ut rem
        ipsa id nisi possimus aspernatur. Consequuntur!
      </p>
      <p>
        Além disso exploro também algumas terapias alternativas como biomagnetismo, terapia multidimensional e barras de
        Access.
        Acredito que essas terapias podem ser trabalhadas conjuntamente com a psicoterapia para atingir melhores
        resultados.
        Asim, fazendo você ter um melhor bem estar.
      </p>
    </div>
  </div>

  <!-- ============ BENEFICIOS DA TERAPIA ============ -->
  <div class="beneficios">
    <div class="oqmelhora-content">
      <h2>O que melhora com a terapia</h2>
      <p>
        A terapia ajuda a resulver problemas internos o que gera resultados no externo. Como por exeplo, melhorias no
        relacionamentos, melhor integração familiar, sabedoria na hora de educar os filhos.
      </p>
    </div>
    <div class="beneficios-content">
      <h2>Como irei te ajudar</h2>
      <p>
        A terapia é feita atravvés de conversas direcionadas. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Nihil sed et modi eligendi voluptatum delectus, qui, molestias id voluptatibus animi corporis ex. Adipisci
        pariatur veniam velit, optio odit tempora iste?
      </p>
    </div>
  </div>

  <!-- ============ PRINCIPAIS TRATAMENTOS ============ -->
  <div class="principaisTopicos">
    <div class="principaisTopicos-content">
      <h2>Principais tratamentos</h2>
      <ul>
        <li>Orientação familiar</li>
        <li>Conflitos em relacionamentos</li>
        <li>Como educar filhos</li>
        <li>Relacionamentos abusivos</li>
        <li>Dificuldades em relacões interpessois</li>
        <li>Exemplos</li>
      </ul>
    </div>
  </div>

  <!-- ============ CTA SECUNDARIA ============ -->
  <div class="cta">

  </div>

  <!-- ============ SERVIÇOS ============ -->
  <div class="servicos">
    <div class="servicos-div">
      <div class="servicos-psicoterapia">

      </div>

      <div class="servicos-biomagnetismo">

      </div>

      <div class="servicos-barras">

      </div>

      <div class="servicos-multidimensional">

      </div>
    </div>
  </div>