<% layout('layouts/boilerplate') %>

    <div class="quemsou">
        <div class="sobreMimImgDiv">
            <div class="sobreMimImg"></div>
        </div>
        <div class="sobreMimTextDiv">
            <div class="sobreMimTextTitle">
                <h2>Regina Nome Sobrenome</h2>
                <h5>CRP 11/1111-1</h5>
            </div>

            <div class="sobreMimTextDescricao">
                <div class="sobreMimTextItem">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam perferendis doloribus
                    delectus quia harum blanditiis cum eligendi fuga ratione, explicabo veritatis molestias consectetur
                    nemo
                    magni inventore quae sint voluptates.
                </div>
                <div class="sobreMimTextItem">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Iste dicta quibusdam quam necessitatibus dolores eius. Quibusdam repudiandae dolores nisi temporibus
                    impedit nobis, eaque illum accusantium eius laudantium, quasi tempora fugit, explicabo tempore
                    veritatis
                    quod accusamus sint ullam tenetur.
                </div>
            </div>
        </div>
    </div>

    <div class="contatosDiv1">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Agende sua seção de psicoterapia</h3>
                <p>Rua Antonio Maria Coelho, 3024</p>
                <p>Campo Grande - MS</p>
            </div>
            <div class="contatosMapa"></div>
        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="">clinicasentir.ese@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="">WhatsApp da Regina</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="">(67) 99869-8282</a>
            </div>
        </div>
    </div>

    <div class="contatosDiv">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Agende sua seção de terapia alternativa</h3>
                <p>Rua Derh gerfgr, 2343</p>
                <p>Campo Grande - MS</p>
            </div>
            <div class="contatosMapa"></div>
        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="">regina@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="">WhatsApp da Regina</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="">(67) 99869-8282</a>
            </div>
        </div>
    </div>