/* ------------- HEADER -------------- */
.navbar{
    background-color: rgb(236, 233, 236);
    min-height: 4rem;
}
.navbar-brand, .navbar-nav > .nav-item > .nav-link{
    color: #d17bf3;
    font-size: 1.125rem;
    font-weight: 500;font-family: 'Noto Serif JP', serif;
    margin: 0 0.25rem;
    
    transition-property: color, font-size, box-shadow;
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
}
.navbar-brand:hover{
    text-decoration: none;
    color: #c353f0;
}
.navbar-brand > h2 {
    font-size: larger;
    color: #bb2df3;
    margin-bottom: 0;
    margin-left: 0;
}
.navbar-brand > p{
    font-size: small;
    margin: 0 0.1rem;
}
.navbar-nav > .nav-item > .nav-link:hover{
    color: #c353f0;
    font-size: larger;
    box-shadow: 0px 1.25rem 25px -20px rgba(8, 8, 8, 0.3);
}
.dropdown-item{
    background-color: rgb(236, 233, 236);
    color: #c353f0;
    border: none;
}

.navbar-toggler > svg{
    width: 2rem;
    height: 2rem;
}

.collapse{
    display: flex;
    justify-content: center;
}
/* ------------- FOOTER -------------- */
.footer{
    min-height: 3rem;
    background-color: #351f5e;
    display: flex;
    align-items: center;
    justify-content:end;
    font-weight: 500;font-family: 'Noto Serif JP', serif;
}

.copyright{
    text-align: right;
    margin: 1.5% 3%;
    color: #bb2df3;
    font-size: 90%;
    font-weight: 200;
    opacity: 0.7;
}
.copyright > a, .copyright > a:hover {
    text-decoration: none;
    color: #bb2df3;

}
